<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>

  <!-- Meta tags & title /-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut-icon" href="./img/favicon.png" type="image/vnd.microsoft.icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta property="og-title" content="ConnectYo">
  <meta property="og-type" content="website">
  <meta property="og-url" content="https://www.connectyo.com">

  <title>{{ page.title | default: site.title }}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if site.author %}<meta name="author" content="{{ site.author }}" />{% endif %}

  <!-- Favicon /-->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" /> <!-- Favicon /-->
  <link rel="canonical" href="https://connectyo.com" />

  <!-- Stylesheets /-->
  <link rel="stylesheet" href="css/gumby.css">   			<!-- Gumby Framework /-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/elementTransitions.css"> <!-- Elements Transitions used for mobile menu /-->
  <link rel="stylesheet" href="css/font-awesome.css">   	<!-- Font Awesome /-->
<link rel="stylesheet" href="css/style.css">   			<!-- Main stylesheet /-->

  <script src="js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->



</head>


<body>

<!-- Fade In of the Page -->
<div class="loader"></div>


<!-- NAVIGATION ############################################### -->


<div class="topBar">

    <div class="barInner row">

    	<a href="index.html"><h1 class="logo">ConnectYo</h1></a>

        <nav id="nav">
				<a class="scrollTo" href="#vision">Vision</a>
				<a class="scrollTo" href="#mission">Mission</a>
				<a class="scrollTo" href="#core-value">Core Value</a>
				<!--a class="scrollTo" href="#quotes">Testimonials</a-->
				<!--<a class="scrollTo" href="#sign-up">Sign up</a>-->
        <a href="https://medium.com/@Connectyo">Blog</a>
        </nav>

    </div>
</div>

<!-- END NAVIGATION ############################################### -->



<!-- HEADER / FIRST SECTION ############################################### -->


<section id="header" class="header et-wrapper">

<button class="et-rotate" et-in="scaleUpDown delay300" et-out="scaleDown"><img src="img/hamburger.png" alt="Display Mobile Menu"></button>

  <!-- BACKGROUND HEADER -->

  <div class='blurImg'>
    <!-- -->
	  <div style="background-image: url('https://static.pexels.com/photos/2773/city-skyline-skyscrapers-top.jpg')"></div>
	  <div class='blur' style="background-image: url('img/bgnormal.jpg')"></div>
  </div>

  	<div class="et-page"> <!-- For Mobile Menu transition -->

 		 <div id="leadFader" class="eight columns">

		    <!-- Logo -->

		    <!--img src="img/logo_white.png" alt="YOUR LOGO"-->

	      	<!-- Title -->

	        <h2>We are </h2>
          <a class="scrollTo" href="#sign-up"><button class="calltoaction-btn">SIGN UP</button></a>
        </div>

		    <!-- Little text on bottom with arrow -->

		   <a href="#first" class="scrollTo">

			   <div class="go-down">
		  	      	<img src="img/go-down.png" alt="Go Down">
			   </div>

		   </a>

	   </div> <!-- End et-page transition -->

	   <div class="et-page"> <!-- For Mobile Menu transition -->

			<nav class="menu-off">

				<ul class="nav-off">
					<li><a class="scrollTo" href="#vision">Vision</a></li>
					<li><a class="scrollTo" href="#mission">Mission</a></li>
					<li><a class="scrollTo" href="#core-value">Core Value</a></li>
					<!--li><a class="scrollTo" href="#quotes">Testimonials</a></li-->
					<li><a class="scrollTo" href="#sign-up">Sign up</a></li>
				</ul>

			</nav>

	   </div> <!-- End et-page transition -->

</section>


<!-- END HEADER ############################################### -->


<!-- BEGIN CONTAINER ############################################### -->


<div id="container" class="container">


<!-- FIRST SECTION ############################################### -->


<section id="vision" class="first">

	<div class="row scrollme">

				<!-- CONTENT LEFT -->

				<div class="six columns info-left">

					<!-- Title -->

					<h3>Vision</h3>

					<!-- Content -->

					<p>Our Vision is to provide affordable and reliable service to our users.
          Are you at work, or on a trip? Get your service at your convenient time. </p>


				</div>

				<!-- CONTENT RIGHT -->

				<div class="six columns ipad  animateme" data-when="enter" data-from="1" data-to="0.3" data-opacity="0" data-translatey="-100" data-rotatez="0">

					<!-- Content -->

					<img src="img/trip-route.svg" alt="iPad Mockup">

				</div>

			</div> <!-- End row div -->

</section>

<!-- END FIRST SECTION ############################################### -->


<!-- SECOND SECTION ############################################### -->


<section id="mission" class="second">

	<div class="row scrollme">

				<!-- CONTENT LEFT -->

				<div class="six columns iphone animateme" data-when="enter" data-from="1" data-to="0.3" data-opacity="0" data-translatey="-80" data-rotatez="0">

					<!-- Content -->

					<img src="img/trip-page.png" alt="iPhone Mockup">
<!-- change to vector image later-->
				</div>

				<!-- CONTENT RIGHT -->

				<div class="six columns info-left">

					<!-- Title -->

					<h3>Mission</h3>

					<!-- Content -->

					<p>Connecting efficient and easily accessible logistics services to our users. Providing real-time request to verified service provider from users.
          Bringing the closest service provider to the user thereby saving cost and reducing the emission of CO into the environment.</p>

					<div class="space"></div>

					<!--ul class="feature-list">
						<li><i class="fa fa-bullseye"></i> Reliable and Secure Platform</li>
						<li><i class="fa fa-power-off"></i> Everything is perfectly orgainized for future</li>
						<li><i class="fa fa-check-circle-o"></i></li>
						<li><i class="fa fa-dot-circle-o"></i> Reduce the emission of CO by bringing services to your doorstep</li>
			    </ul-->
				</div>

			</div> <!-- End row div -->

</section>

<!-- END SECOND SECTION ############################################### -->


<!-- TIRTH SECTION ############################################### -->
<section id="core-value" class="first">

	<div class="row scrollme">

				<!-- CONTENT LEFT -->

				<div class="six columns info-left">

					<!-- Title -->

					<h3>Core Value</h3>

					<!-- Content -->

          <ul class="feature-list" style="font-weight:300">
						<li><i class="fa fa-check-circle-o"></i>Reliable and Secure Platform</li>
						<li><i class="fa fa-check-circle-o"></i>Access to verified service providers</li>
            <li><i class="fa fa-check-circle-o"></i>Real-time tracking</li>
            <li><i class="fa fa-check-circle-o"></i>Seamless payment</li>
            <li><i class="fa fa-check-circle-o"></i>Access to transaction history</li>
			    </ul>

				</div>

				<!-- CONTENT RIGHT -->

				<div class="six columns ipad  animateme" data-when="enter" data-from="1" data-to="0.3" data-opacity="0" data-translatey="-100" data-rotatez="0">

					<!-- Content -->

					<img src="img/works.svg" alt="iPad Mockup">

				</div>

			</div> <!-- End row div -->

</section>

<!--section id="tirth" class="tirth">

	<div class="row scrollme animateme" data-when="enter" data-from="1" data-to="0.3" data-opacity="0" data-translatey="-80" data-rotatez="0">


				CONTENT CENTERED

				<div class="ten columns centered">



					<img src="http://www.placehold.it/1100x300" alt="iPhone Mockup" class="animateme" data-when="enter" data-from="1" data-to="0.3" data-opacity="0" data-translatey="-80" data-rotatez="0">



					<h3>A centered content</h3>



					<p>Bacon ipsum dolor sit amet pork ground round tail fatback leberkas pork loin. Pork chop bresaola sausage, short ribs biltong jowl rump hamburger drumstick fatback shankle. Pig tenderloin salami pork belly meatball. Capicola spare ribs beef ribs biltong, ball tip strip steak fatback hamburger andouille chicken corned beef tail cow. Pork loin bresaola salami, spare ribs ham leberkas tenderloin. Shankle boudin sirloin pork pig biltong corned beef chicken brisket.</p>

					<div class="space"></div>



					<a href="#four" class="border-button scrollTo">Sign up</a>


				</div>


			</div>

</section>
-->
<!-- END TIRTH SECTION ############################################### -->


<!-- SCREENSHOTS SECTION ############################################### -->
<!--
<section id="screen" class="screenshots" >


	<div class="infinite-carousel">

	<div class="front-iphone"><img src="img/iphone-mockup.png" alt="exemple"></div>

	  <div class="carousel-viewport">
	      <div class="slide slide-current"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>
	      <div class="slide"><img src="http://www.placehold.it/640x1136" alt="exemple"></div>

	  </div>

	  <a class="carousel-control-previous"></a>
	  <a class="carousel-control-next"></a>

	</div>

</section>
-->
<!-- END SCREENSHOTS SECTION ############################################### -->



<!-- SERVICES SECTION ############################################### -->
<!--
<section id="services" class="services">

	<div class="row scrollme">

				<div class="twelve columns animateme" data-when="enter" data-from="1" data-to="0.2" data-opacity="0" data-translateY="-120" data-rotatez="0">


					<h3>What did you recieve with it.</h3>



					<ul class="four_up tiles services_list">


						<li class="arrow-left animateme" data-when="enter" data-from="0.5" data-to="0.3" data-opacity="0" data-translatex="-40" data-rotatez="0">

						<img src="img/ico/1.png" alt="1">



						<h5>Pretty easy to customize</h5>



						<p>Our themes are well documented, even if you are a beginner, you'll found your theme easy to setup and customize to your liking in minutes.</p>

						</li>


						<li class="arrow-left animateme" data-when="enter" data-from="0.8" data-to="0.4" data-opacity="0" data-translatex="-80" data-rotatez="0">

						<img src="img/ico/2.png" alt="2">


						<h5>Exactly what you need</h5>


						<p>We focus on what's important and make sure you can use our themes within minutes after purchase to it's full potential.</p>

						</li>

						<li class="arrow-left animateme" data-when="enter" data-from="0.7" data-to="0.5" data-opacity="0" data-translatex="-80" data-rotatez="0">

						<img src="img/ico/3.png" alt="3">


						<h5>Theme support</h5>


						<p>Have any issues with one of our themes? Check out our extensive support page or send us a mail via the contact form.</p>

						</li>

						<li class="animateme" data-when="enter" data-from="0.7" data-to="0.6" data-opacity="0" data-translatex="-80" data-rotatez="0">

						<img src="img/ico/4.png" alt="4">



						<h5>Give us your feedback</h5>



						<p>If you have any requests, motivations, criticizing or just to say thank you just contact us and we'll have a chat about it.</p>

						</li>


					</ul>

				</div>


			</div>
</section>
-->
<!-- TESTIMONIALES SECTION ############################################### -->
<!--
<section id="quotes" class="quotes">

<div class="row scrollme">

	<div id="testimonials" class="animateme" data-when="enter" data-from="0.4" data-to="0.2" data-opacity="0" data-translatey="-40" data-rotatez="0">


	    <div class="testimonial-box">

			<ul class="testimonial-box-nav ">
				<li>
		        	<a href="#testimonial1">
		            	<img src="http://www.placehold.it/170x170" alt="Exemple">
		            </a>
				</li>
				<li>
		        	<a href="#testimonial2">
		            	<img src="http://www.placehold.it/170x170" alt="Exemple">
		            </a>
				</li>
				<li>
		       		<a href="#testimonial3" class="active">
		            	<img src="http://www.placehold.it/170x170" alt="Exemple">
		         	</a>
				</li>
				<li>
		        	<a href="#testimonial4">
		            	<img src="http://www.placehold.it/170x170" alt="Exemple">
		           </a>
	           </li>

			</ul>

		</div>

		  <div class="testimonial" id="testimonial1" style="display: none;">
		    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et lectus posuere, blandit libero vitae, pellentesque elit. Nam a orci in dui blandit hendrerit. Quisque lectus metus, blandit quis mauris a, accumsan facilisis mauris. Vestibulum odio est, scelerisque sed ligula vitae, lacinia luctus ante. ”</p>
		    <span><b>Francis Martinez</b> | <a href="#">@FrancisMartinez</a></span>
		  </div>

		  <div class="testimonial" id="testimonial2" style="display: none;">
		    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et lectus posuere, blandit libero vitae, pellentesque elit. Nam a orci in dui blandit hendrerit quisque lectus metus, blandit quis mauris accumsan. ”</p>
		    <span><b>Pol-Henry Martens</b> | <a href="#">@h4rrym</a></span>
		  </div>

		  <div class="testimonial" id="testimonial3" style="display: block;">
		    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et lectus posuere, blandit libero vitae, pellentesque elit. Nam a orci in dui blandit hendrerit. ”</p>
		    <span><b>Manon Deluxe</b> | <a href="#">www.manondelux.be</a></span>
		  </div>

		  <div class="testimonial" id="testimonial4" style="display: none;">
		    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et lectus posuere, landit libero vitae, pellentesque elit. Nam a orci in dui blandit hendrerit. Quisque lectus metus, landit quis mauris. ”</p>
		    <span><b>Lananh Buisson</b> | <a href="#">@lanana</a></span>
		  </div>

	</div>

</div>

</section>
-->
<!-- END TESTIMONIALES SECTION ############################################### -->



<!-- SUBSCRIBE SECTION ############################################### -->

<section id="sign-up" class="subscribe scrollme">
	<div class="row animateme" data-when="enter" data-from="0.8" data-to="0.2" data-opacity="0" data-translateY="-80">
				<!-- Subscribe -->
		<div class="ten columns centered">
			<!-- Title -->

			<h3>We're not ready, wanna be informed when we launch ?</h3>

			<!-- Form -->

			 <form id="contact" name="contact" action="thank-you" netlify>
				<input class="name" type="text" name="name" placeholder="YOUR LOVELY NAME" required>
				<input class="email" type="email" name="email" placeholder="YOUR E-MAIL" required>
				<button name="send" type="submit" class="submit">BE INFORMED</button>
			 </form>
			<!-- Text After validation -->

      <div class="thank-you"></div>
			<p class="spam"></p>
		</div>
  </div>
</section>

<!-- END SUBSCRIBE SECTION ############################################### -->



<!-- FOURTH SECTION ############################################### -->
<!--
<section id="four" class="fourth">

	<div class="row scrollme animateme" data-when="enter" data-from="1" data-to="0.5" data-opacity="0" data-translatey="-100" data-rotatez="0">


				<div class="center-me">

					<h3>GET IT RIGHT NOW !</h3>

					<p class="lead">Probably the best landing page ever made</p>

					<a class="border-button open-thanks">Download it</a>

					<div class="space"></div>

					<p>or you can simply share it with your friends</p>

					<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>

				</div>



			</div>

</section>
-->
<!-- END FOURTH SECTION ############################################### -->



<!-- THANKS FOR DOWNLOADING ############################################### -->

<!--
<div id="thanks-download" class="row">

    <div class="five columns centered message">

	    <h3>THANKS FOR DOWNLOADING IT</h3>

	    <p>You'll be redirected to the App Store, if not click on <a href="#">this link</a>.</p>

    </div>

</div>
-->

<!-- END THANKS FOR DOWNLOADING ############################################### -->





</div> <!-- end of container -->


  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  <script src="js/jquery-1.11.1.min.js"></script>											<!-- jQuery -->
  <script src="js/plugins.js" type="text/javascript"></script> 								<!-- Plugins File for Contact Form -->
  <script src="js/main.js" type="text/javascript"></script> 								<!-- Main Javascript File -->
  <script src="js/waypoints.min.js" type="text/javascript"></script>						<!-- Waypoints -->
  <script src="js/jquery.scrollto.js" type="text/javascript"></script> 						<!-- ScrollTo -->
  <script src="js/jquery.scrollme.js" type="text/javascript"></script> 						<!-- ScrollMe -->
  <script src="js/mediaCheck.js" type="text/javascript"></script> 							<!-- MediaCheck -->
  <script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script> 				<!-- Parallax -->
  <!--script src="js/yui.js" type="text/javascript"></script>--> 									<!-- YUI For Header Text -->
  <script src="js/owl.carousel.js" type="text/javascript"></script> 						<!-- Owl Carousel -->
  <script src="js/elementTransitions.min.js" type="text/javascript"></script>				<!-- ElementsTransitions used for Mobile Menu -->



  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  </body>

</html>
